.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.time-remaining {
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.btn-group {
	padding-bottom: 10px;
}

.timer {
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: ridge;
	flex-direction: column;

	width: 450px;
	padding: 10px;
	padding-bottom: 15px;
	margin: auto;
	margin-top: 50px;

	border-radius: 15px;
	color: #18309c;
}

.input-group {
	padding: 10px;
}

::placeholder {
	font-weight: 700;
}

.count-down {
	padding-bottom: 10px;
	text-align: center;
	font-size: 75px;
	font-weight: 650px;
}

.count-down-text {
	padding-top: 10px;
	text-align: center;
}
